torch
torchaudio
openai
whisper
faster-whisper
huggingface
huggingface_hub
funasr
fastapi
uvicorn[standard]
soundfile
uvloop
aiofiles
webrtcvad
python-dotenv
edge-tts
pydub
speechbrain==1.0.0
pyannote.audio
asyncio==3.4.3
sentence-transformers==2.7.0
transformers==4.40.2
deepspeed