torch
torchaudio
openai
whisper
faster-whisper
huggingface
huggingface_hub
funasr
fastapi
uvicorn[standard]
python-multipart
soundfile
uvloop
aiofiles
webrtcvad
python-dotenv
edge-tts
pydub
onnx
onnxconverter_common
speechbrain==1.0.0
pyannote.audio
asyncio==3.4.3
sentence-transformers==2.7.0
transformers==4.36.0
deepspeed==0.10.3
langid
PyPDF2
sentence-transformers
