<!DOCTYPE html>
<html>
   <head>
       <title>Live Transcription</title>
   </head>
   <body>
        <h1>Transcribe Audio With Flask 2.0</h1>
        <p id="status">Connection status will go here</p>
        <p id="transcript"></p>

        <script>
            async function startTranscription() {
                try {
                    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                    if (!MediaRecorder.isTypeSupported('audio/webm')) {
                        return alert('Browser not supported');
                    }

                    const mediaRecorder = new MediaRecorder(stream, {
                        mimeType: 'audio/webm',
                    });

                    const socket = new WebSocket('wss://108.136.246.72:5555/transcribe');

                    socket.onopen = () => {
                        document.querySelector('#status').textContent = 'Connected';
                        mediaRecorder.addEventListener('dataavailable', async (event) => {
                            if (event.data.size > 0 && socket.readyState === WebSocket.OPEN) {
                                const reader = new FileReader();
                                reader.onload = () => {
                                    const base64data = reader.result.split(',')[1];
                                    const data_to_send = [[[' 只是雨滴 受什么麻烦的这还没有打雷呢 ', '生成风格: Sad.;播报内容: 哎，雨滴真烦；希望快点好起来。']], "speaker_id", base64data];
                                    const json_data = JSON.stringify(data_to_send);
                                    socket.send(json_data);

                                };
                                reader.readAsDataURL(event.data);
                            }
                        });
                        mediaRecorder.start(250);
                    };

                    socket.onmessage = (message) => {
                        const received = message.data;
                        // 解析接收到的 JSON 数据
                        const jsonData = JSON.parse(received);
                        const history = jsonData[0];
                        const audio = jsonData[1];
                        const text = jsonData[2];
                        if (received) {
                            document.querySelector('#transcript').textContent += ' ' + jsonData;
                        }
                    };

                    socket.onerror = (error) => {
                        console.error('WebSocket error:', error);
                        document.querySelector('#status').textContent = 'WebSocket error';
                    };

                    socket.onclose = () => {
                        document.querySelector('#status').textContent = 'WebSocket connection closed';
                    };

                } catch (error) {
                    console.error('Error accessing media devices.', error);
                    alert('Error accessing media devices: ' + error.message);
                }
            }

            document.addEventListener('DOMContentLoaded', startTranscription);
        </script>
   </body>
</html>